*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a:focus,
a:active {
  color: #ccc;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  display: block;
  font-size: 0;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

* {
  font-family: sans-serif;
  font-weight: 400;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: #ffffff;
}

.app-main {
  width: 80%;
  height: auto;
}

.app-ie {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
}

.app-ie__title {
  font-size: 1rem;
  letter-spacing: .05rem;
}

.app-ie__title span {
  color: red;
}

.app-ie__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2rem;
}

.app-ie__img img {
  width: 1.8rem;
  margin: 0 .3rem;
}

.btn-pointer {
  cursor: pointer;
}

.header__body {
  width: 100%;
  height: 100%;
  padding: 19% 17%;
}

.header__logo {
  width: 100%;
}

.header__logo img {
  max-width: 100%;
}

.header .progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: .05rem;
  height: 0%;
  background: #000000;
}

.main__body {
  width: 100%;
  height: auto;
}

.main .section {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  padding: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main .section__item {
  width: calc(100% / 3 - 3%);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3 - 3%);
  flex: 0 0 calc(100% / 3 - 3%);
  padding-bottom: 40%;
  margin: 1.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main .section__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.main .section__item:hover::before {
  opacity: .3;
}

.view-img {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.view-img_active {
  opacity: 1;
  visibility: visible;
}

.view-img__body {
  width: 100%;
  height: 100%;
  background: inherit;
}

.view-img__wrap-img {
  width: inherit;
  height: inherit;
  background: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.view-img__img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.view-img__img img {
  max-width: 100%;
}

.view-img__img_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.view-img__img_active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: -1;
}

.view-img__close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 2;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.view-img__close span {
  position: absolute;
  width: 60%;
  height: .1rem;
  background: #000;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.view-img__close span:first-of-type {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.view-img__close span:last-of-type {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.view-img__close:hover span {
  background: #ccc;
}

.view-img__btn {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  z-index: 130;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: none !important;
}

.view-img__btn span {
  width: 1.5rem;
  height: .1rem;
  background: #ccc;
}

.view-img__btn span:first-of-type {
  -webkit-transform: rotate(45deg) translate(-0.32rem, -0.32rem);
  -ms-transform: rotate(45deg) translate(-0.32rem, -0.32rem);
  transform: rotate(45deg) translate(-0.32rem, -0.32rem);
}

.view-img__btn span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(-0.32rem, 0.32rem);
  -ms-transform: rotate(-45deg) translate(-0.32rem, 0.32rem);
  transform: rotate(-45deg) translate(-0.32rem, 0.32rem);
}

.view-img__btn_next {
  right: 0;
}

.view-img__btn_next-active span {
  background: #000;
}

.view-img__btn_prev {
  left: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.view-img__btn_prev-active span {
  background: #000;
}

@media screen and (max-width: 64rem) {
  .view-img__close {
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 1.5rem;
  }
}

@media screen and (max-width: 36rem) {
  .app {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .app-header {
    width: 100%;
    position: relative;
  }

  .app-main {
    width: 100%;
  }

  .header__body {
    padding: 10% 4%;
  }

  .header .progress-bar {
    display: none;
  }

  .main .section__item {
    width: calc(100% / 2 - 3%);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 2 - 3%);
    flex: 0 0 calc(100% / 2 - 3%);
    padding-bottom: 60%;
  }

  .main .section {
    padding: 2.5%;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}